prefect>=2.8.2
distributed==2022.2.0; python_version < '3.8'
distributed>=2022.5.0,<=2023.7.0; python_version >= '3.8' # upper bound due to issue with get_client starting in 2023.3.2 - https://github.com/dask/distributed/issues/7763
